


.form{
  top: 0;
  background-color:var(--theme-bg-color);
  border-radius:15px;
  padding:1rem 0;
}
.card{
  position: fixed;
  right:2.5rem;
  background-color:var(--theme-bg-color);
  border-radius:15px;
  padding: 1.5rem;
}
