<div class="row col-md-12" style="padding: 1rem;">
<div class="card" style="padding:1.5rem;margin: 1rem; width: 18rem;" *ngFor="let employee of resEmployees">
  <img [src]="employee.image" class="card-img-top" alt="..." style="height: 15rem;">
    <div class="card-body">
      <h5 class="card-title">{{employee.nombres}}&nbsp;{{employee.apellidos}}</h5>
      <h6 class="card-title">{{employee.tipoId}}</h6>
      <h6 class="card-title">{{employee.nroId}}</h6>
      <p class="card-text">{{employee.area}}</p>
    </div>
    <div class="row" >
      <a [routerLink]="['/empleados/edit', employee.id]" class="btn btn-primary btn-block" >Editar</a>
      <button (click)="deleteEmployee(employee.id)" class="btn-danger btn-block">Eliminar</button>
    </div>
  </div>
</div>

